In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Read data

In [2]:
# Read csv
df = pd.read_csv('/workspaces/lol_api/data/gameMode/CLASSIC/overall/game_record.csv')
df

,matchId,gameMode,gameDuration,assists,baronKills,bountyLevel,champExperience,champLevel,championId,championName,...,200UTIL_trueDamageDealtToChampions,200UTIL_trueDamageTaken,200UTIL_turretKills,200UTIL_turretsLost,200UTIL_unrealKills,200UTIL_visionScore,200UTIL_visionWardsBoughtInGame,200UTIL_wardsKilled,200UTIL_wardsPlaced,200UTIL_win
0,KR_5138516254,CLASSIC,1212.513,3,0,0,5223,9,99,Lux,...,230,159,0,5,0,32,4,4,15,False
1,KR_5143957063,CLASSIC,1381.126,1,0,0,9615,12,99,Lux,...,408,417,0,5,0,29,2,0,20,False
2,KR_5144040341,CLASSIC,1464.236,6,0,0,10356,13,6,Urgot,...,612,362,0,6,0,43,6,4,21,False
3,KR_5144859204,CLASSIC,1205.861,0,0,0,7355,11,99,Lux,...,649,180,0,8,0,21,3,3,11,False
4,KR_5156960508,CLASSIC,1788.017,4,0,0,12833,14,99,Lux,...,1096,519,0,9,0,71,9,7,32,False
5,KR_5176475024,CLASSIC,2046.992,11,0,3,13334,15,202,Jhin,...,67,1003,0,6,0,45,2,4,31,True
6,KR_5176633802,CLASSIC,1126.901,1,0,0,6632,10,99,Lux,...,570,110,0,5,0,9,1,0,6,False
7,KR_5180931801,CLASSIC,2064.663,5,0,2,10465,13,99,Lux,...,0,643,0,1,0,60,0,8,29,True
8,KR_5204695898,CLASSIC,1996.285,9,0,1,12266,14,99,Lux,...,676,130,0,9,0,48,4,6,20,False
9,KR_5204771853,CLASSIC,1999.491,2,0,1,9251,12,99,Lux,...,793,507,0,4,0,64,1,4,28,True
10,KR_5205578318,CLASSIC,2021.458,4,0,4,16085,16,99,Lux,...,942,1459,1,11,0,48,1,6,30,False
11,KR_5205834660,CLASSIC,1432.441,14,0,4,11308,13,202,Jhin,...,2156,538,0,5,0,61,5,11,34,False
12,KR_5207910810,CLASSIC,1743.110,8,0,5,10197,13,99,Lux,...,146,595,0,1,0,47,4,2,23,True
13,KR_5210296626,CLASSIC,2232.487,13,0,4,17156,17,99,Lux,...,452,597,0,6,0,65,7,6,35,True
14,KR_5371918686,CLASSIC,1197.931,4,0,6,9438,12,99,Lux,...,292,192,0,0,0,32,2,4,16,True
15,KR_5376691108,CLASSIC,1662.442,7,0,0,12465,14,55,Katarina,...,780,1745,1,0,0,52,4,6,20,True

In [43]:
a = (df['assists'] + df['kills']) / (df['deaths'] + 1e-3)
a = np.log(a)
b = df['win']

df_kda = pd.DataFrame({'kda':a, 'kills':df['kills'], 'assists':df['assists'], 'deaths':df['deaths'], 'win':b})
df_kda

          kda  kills  assists  deaths    win
0   -5.110256      0        3       5  False
1   -6.933971      1        1       4  False
2    7.730232      7        6       6  False
3   -6.936471      1        0       2  False
4    7.882574      7        4       5  False
5   11.894412     12       11       7   True
6   -5.110256      2        1       5  False
7   20.784420      3        5       1  False
8    9.806626      7        9       6  False
9    4.052151      4        2       4  False
10   6.929472      6        4       5  False
11  21.968913     13       14       3   True
12  21.395663      9        8       2   True
13  21.968913     14       13       3  False
14  92.103404      6        4       0   True
15   6.930043      7        7       7  False

In [44]:
df_kda.corr()

              kda     kills   assists    deaths       win
kda      1.000000  0.337137  0.257303 -0.575674  0.605142
kills    0.337137  1.000000  0.923952  0.103092  0.529555
assists  0.257303  0.923952  1.000000  0.121602  0.487417
deaths  -0.575674  0.103092  0.121602  1.000000 -0.304495
win      0.605142  0.529555  0.487417 -0.304495  1.000000